body {
    background-color: #1B1B25;
}

*{
    color: white;
}

iframe.eliza {
    width: 100%;
    height: 800px;
    border: none;
    padding-left: 5%;
    flex-grow: 2;
    margin-top: -1%
}

div.eliza {
    width: 100%;
    display: flex; 
    flex-flow: row;
    height: 100%
}

h1 {
	margin-top: 7%;
	text-align: center;
}


ul.nav {
    list-style-type: none;
    background-color: #4b86e0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    display: flex; 
    align-items: center;
    padding: 0;
}

li.nav {
    float: left;
}

li.nav a {
    font-family: "Garamond", serif;
    font-size: 1.2em;
    display: block;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

li.nav a:hover {
    background-color: #dbdfdf21;
}

body::before {
    content: "";
    display: block;
    height: 60px; 
}

iframe.twine {
    width: 100%;
    height: 100vh;
    max-width: 100%;
    border: none;
}

div.twine p,
div.twine h2,
div.twine h1 {
    color: #0f0;
    text-align: center;
}  

body.twine-page {
    background-color: #000000;
}

div.twine {
    background-color: #000;
    color: #0f0;
    font-family: "Hack", monospace;
}